.container {
    -fx-background-color: linear-gradient(to bottom, #f7f8fa, #eaecef);
    -fx-padding: 40;
}

.title {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.status {
    -fx-font-size: 20px;
}

.header {
    -fx-alignment: center;
}

.board {
    -fx-pref-width: 400;
    -fx-pref-height: 400;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 20;
}

.cell {
    -fx-pref-width: 110;
    -fx-pref-height: 110;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
   -fx-background-color: linear-gradient(to bottom right, #e0e0e0, #f5f5f5);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 6, 0, 0, 4);
    -fx-cursor: hand;
}

.cell:hover {
     -fx-background-color: linear-gradient(to bottom right, #d0d0d0, #e5e5e5);
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 12, 0, 0, 6);
     -fx-translate-y: -2;
}

.cell:pressed {
    -fx-background-color: #e2e2e2;
    -fx-translate-y: 0;
}

.buttons {
    -fx-padding: 20;
}

.restart-btn, .exit-btn{
    -fx-font-size: 18px;
    -fx-padding: 12 28;
    -fx-text-fill: #141414;
    -fx-font-weight: bold;
    -fx-background-color: #e8e8e8;
    -fx-background-radius:12px;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(gaussian, #c5c5c5, 12, 0, 6, 6),
                    dropshadow(gaussian, #ffffff, 12, 0, -6, -6);
    -fx-border-color: #e8e8e8;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-border-radius:12px;
    -fx-cursor: hand;
}

.restart-btn:hover, .exit-btn:hover{
    -fx-transition: all 0.3s;
}

.restart-btn:pressed, .exit-btn:pressed {
    -fx-text-fill: #666;
    -fx-effect: innershadow(gaussian, #c5c5c5, 12, 0, 4, 4),
               innershadow(gaussian, #ffffff, 12, 0, -4, -4);
    -fx-transition: all 0.3s;
}
